html, body, #container
{
   width: 100%;
   height: 100%;
}
body
{
   background-color: #000000;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}
#PageHeader1
{
   background-color: #000000;
   background-image: none;
   box-sizing: border-box;
}
#PageHeader1
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#intro
{
   background-color: transparent;
   background-image: url(images/home.jpg);
   background-repeat: repeat;
   background-position: center bottom;
   background-attachment: scroll;
   background-size: cover;
   margin: 0;
}
#about
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_Text1 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
}
#wb_Text3 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text3 div
{
   text-align: center;
}
#wb_Text4 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_ReadMore
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: url(images/Image-cs-go-wallpapers-HD.png);
   background-repeat: repeat;
   background-position: center center;
   background-attachment: scroll;
   background-size: cover;
   border: 0px solid #000000;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1024px;
}
#ReadMore
{
   box-sizing: border-box;
   padding: 50px 0px 50px 0px;
   margin-right: auto;
   margin-left: auto;
}
#ReadMore .row
{
   margin-right: 0;
   margin-left: 0;
}
#ReadMore > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 0px;
   padding-left: 0px;
   position: relative;
}
#ReadMore > .row > .col-1
{
   float: left;
}
#ReadMore > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#ReadMore:before,
#ReadMore:after,
#ReadMore .row:before,
#ReadMore .row:after
{
   display: table;
   content: " ";
}
#ReadMore:after,
#ReadMore .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#ReadMore > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#ReadMore-overlay
{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background-color: #42DCA3;
   opacity: 0.28;
}
#team
{
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#wb_team_grid
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #000000;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
   margin-right: auto;
   margin-left: auto;
   max-width: 1280px;
}
#team_grid
{
   box-sizing: border-box;
   padding: 40px 15px 20px 15px;
   margin-right: auto;
   margin-left: auto;
}
#team_grid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3, #team_grid > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3, #team_grid > .row > .col-4
{
   float: left;
}
#team_grid > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#team_grid > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#team_grid > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 33.33333333%;
   text-align: center;
}
#team_grid > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   display: none;
   width: 0;
   text-align: left;
}
#team_grid:before,
#team_grid:after,
#team_grid .row:before,
#team_grid .row:after
{
   display: table;
   content: " ";
}
#team_grid:after,
#team_grid .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3, #team_grid > .row > .col-4
{
   float: none;
   width: 100%;
}
}
#wb_Text9 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text9 div
{
   text-align: center;
}
#wb_Team1
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Team1:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
}
#Team1
{
   height: 56px;
   width: 56px;
}
#Team1 i
{
   color: #242216;
   display: inline-block;
   font-size: 56px;
   line-height: 56px;
   vertical-align: middle;
   width: 47px;
}
#wb_Team1:hover i
{
   color: #42DCA3;
}
#wb_Team2
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Team2:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
}
#Team2
{
   height: 56px;
   width: 56px;
}
#Team2 i
{
   color: #242216;
   display: inline-block;
   font-size: 56px;
   line-height: 56px;
   vertical-align: middle;
   width: 47px;
}
#wb_Team2:hover i
{
   color: #42DCA3;
}
#wb_Team3
{
   background-color: #FFFFFF;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_Team3:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
}
#Team3
{
   height: 56px;
   width: 56px;
}
#Team3 i
{
   color: #242216;
   display: inline-block;
   font-size: 56px;
   line-height: 56px;
   vertical-align: middle;
   width: 39px;
}
#wb_Team3:hover i
{
   color: #42DCA3;
}
#wb_Name1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Name1
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Name1 a
{
   color: #42DCA3;
   text-decoration: none;
}
#wb_Name2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Name2
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Name2 a
{
   color: #42DCA3;
   text-decoration: none;
}
#wb_Name3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   box-sizing: border-box;
   margin: 0;
   padding: 10px 0px 10px 0px;
   text-align: center;
}
#Name3
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Name3 a
{
   color: #42DCA3;
   text-decoration: none;
}
#wb_Text8 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text8 div
{
   text-align: center;
}
#wb_Text10 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text10 div
{
   text-align: center;
}
#wb_Text11 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0px 0px 10px 0px;
   margin: 0;
   text-align: center;
}
#wb_Text11 div
{
   text-align: center;
}
#quote
{
   background-color: #42DCA3;
   background-image: none;
   margin: 0;
}
#wb_contact
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   box-sizing: border-box;
   margin: 0;
}
#contact
{
   box-sizing: border-box;
   padding: 75px 15px 75px 15px;
   margin-right: auto;
   margin-left: auto;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0px;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#contact > .row > .col-1
{
   float: left;
}
#contact > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   width: 100%;
   text-align: center;
}
#contact:before,
#contact:after,
#contact .row:before,
#contact .row:after
{
   display: table;
   content: " ";
}
#contact:after,
#contact .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#contact > .row > .col-1
{
   float: none;
   width: 100%;
}
}
#wb_FontAwesomeIcon10
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0;
   padding: 8px 8px 8px 8px;
   -webkit-animation: transform-wobble 1000ms linear 0ms infinite normal both;
   -moz-animation: transform-wobble 1000ms linear 0ms infinite normal both;
   animation: transform-wobble 1000ms linear 0ms infinite normal both;
   vertical-align: top;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #FFFFFF;
}
#FontAwesomeIcon10
{
   height: 40px;
   width: 40px;
}
#FontAwesomeIcon10 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 40px;
   line-height: 40px;
   vertical-align: middle;
   width: 39px;
}
#wb_FontAwesomeIcon10:hover i
{
   color: #FFFFFF;
}
#wb_Text14 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text14 div
{
   text-align: center;
}
#wb_CssMenu1
{
   border: 0px solid #C0C0C0;
   background-color: transparent;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 ul
{
   list-style-type: none;
   margin: 0;
   padding: 0;
   position: relative;
   display: inline-block;
}
#wb_CssMenu1 li
{
   float: left;
   margin: 0;
   padding: 0px 4px 0px 0px;
   width: 80px;
}
#wb_CssMenu1 a
{
   display: block;
   float: left;
   color: #9D9D9D;
   border: 0px solid #222222;
   background-color: #000000;
   background-image: none;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 70px;
   height: 44px;
   padding: 0px 5px 0px 5px;
   vertical-align: middle;
   line-height: 44px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #42DCA3;
   background-image: none;
   border: 0px solid #222222;
}
#wb_CssMenu1 li.firstmain
{
   padding-left: 0px;
}
#wb_CssMenu1 li.lastmain
{
   padding-right: 0px;
}
#wb_CssMenu1 br
{
   clear: both;
   font-size: 1px;
   height: 0;
   line-height: 0;
}
#wb_FontAwesomeIcon1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #42DCA3;
   text-align: center;
   margin: 0;
   padding: 0;
   vertical-align: top;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#FontAwesomeIcon1
{
   height: 50px;
   width: 113px;
}
#FontAwesomeIcon1 i
{
   color: #42DCA3;
   display: inline-block;
   font-size: 50px;
   line-height: 50px;
   vertical-align: middle;
   width: 52px;
}
#wb_FontAwesomeIcon1:hover i
{
   color: #FFFFFF;
}
#wb_FontAwesomeIcon1
{
   -webkit-transition: all 500ms linear 0ms;
   -moz-transition: all 500ms linear 0ms;
   transition: all 500ms linear 0ms;
}
#wb_FontAwesomeIcon12
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon12:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon12
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon12 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_FontAwesomeIcon12:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon12
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon12:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon13
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon13:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon13
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon13 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_FontAwesomeIcon13:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon13
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon13:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon14
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon14:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon14
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon14 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 8px;
}
#wb_FontAwesomeIcon14:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon14
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon14:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon15
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon15:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon15
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon15 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 15px;
}
#wb_FontAwesomeIcon15:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon15
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon15:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon16
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon16:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon16
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon16 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 15px;
}
#wb_FontAwesomeIcon16:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon16
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon16:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon17
{
   background-color: #000000;
   background-image: none;
   border: 2px solid #FFFFFF;
   border-radius: 50%;
   text-align: center;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
   vertical-align: top;
   display:inline-block;
   position:relative;
}
#wb_FontAwesomeIcon17:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#FontAwesomeIcon17
{
   height: 16px;
   width: 16px;
}
#FontAwesomeIcon17 i
{
   color: #FFFFFF;
   display: inline-block;
   font-size: 16px;
   line-height: 16px;
   vertical-align: middle;
   width: 15px;
}
#wb_FontAwesomeIcon17:hover i
{
   color: #18BC9C;
}
#wb_FontAwesomeIcon17
{
   -webkit-transform: rotate(0deg) ;
   -moz-transform: rotate(0deg) ;
   transform: rotate(0deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_FontAwesomeIcon17:hover
{
   -webkit-transform: rotate(360deg) ;
   -moz-transform: rotate(360deg) ;
   transform: rotate(360deg) ;
   -webkit-transition: -webkit-transform 500ms linear 0ms;
   -moz-transition: transform 500ms linear 0ms;
   transition: transform 500ms linear 0ms;
}
#wb_Text5 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text5 div
{
   text-align: center;
}
#wb_Shape1 a img
{
   position: absolute;
   left: 0;
}
#wb_Shape1 span
{
   position: absolute;
   left: 0;
}
#wb_Shape1 a .hover
{
   visibility: hidden;
}
#wb_Shape1 a:hover .hover
{
   visibility: visible;
}
#wb_Shape1 a:hover span
{
   visibility: hidden;
}
#Shape1
{
   border-width: 0;
   vertical-align: top;
}
#wb_text 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 20px 10px 20px;
   margin: 0;
   text-align: center;
}
#wb_text div
{
   text-align: center;
}
#wb_message 
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   padding: 10px 20px 10px 20px;
   margin: 0;
   text-align: left;
}
#wb_message div
{
   text-align: left;
}
#spacer-line1
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#spacer-line2
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#spacer-line3
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 40px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   position: absolute;
   left: 404px;
   top: 215px;
   width: 163px;
   height: 39px;
   z-index: 4;
}
#wb_CssMenu1
{
   position: absolute;
   left: 606px;
   top: 15px;
   width: 355px;
   height: 50px;
   z-index: 1;
}
#PageHeader1_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_FontAwesomeIcon1
{
   position: absolute;
   left: 0px;
   top: 30px;
   width: 113px;
   height: 50px;
   text-align: center;
   z-index: 0;
}
#PageHeader1
{
   position: fixed;
   text-align: center;
   left: 0;
   top: 0;
   right: 0;
   height: 80px;
   z-index: 7777;
}
#wb_Text4
{
   position: absolute;
   left: 341px;
   top: 33px;
   width: 289px;
   height: 29px;
   text-align: center;
   z-index: 9;
}
#wb_Text5
{
   position: absolute;
   left: 213px;
   top: 62px;
   width: 544px;
   height: 48px;
   text-align: center;
   z-index: 28;
}
#quote_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#team
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 94px;
   float: left;
   clear: left;
   display: block;
   z-index: 33;
}
#intro
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 100%;
   float: left;
   display: block;
   z-index: 31;
}
#Shape1
{
   width: 163px;
   height: 39px;
}
#spacer-line3
{
   display: block;
   width: 100%;
   z-index: 27;
}
#spacer-line2
{
   display: block;
   width: 100%;
   z-index: 21;
}
#spacer-line1
{
   display: block;
   width: 100%;
   z-index: 15;
}
#about
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 332px;
   float: left;
   clear: left;
   display: block;
   z-index: 32;
}
#about_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Text1
{
   position: absolute;
   left: 221px;
   top: 150px;
   width: 528px;
   height: 66px;
   text-align: center;
   z-index: 2;
}
#wb_Text3
{
   position: absolute;
   left: 138px;
   top: 75px;
   width: 695px;
   height: 116px;
   text-align: center;
   z-index: 5;
}
#intro_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#wb_Name1
{
   display: inline-block;
   width: 100%;
   z-index: 11;
}
#wb_Name2
{
   display: inline-block;
   width: 100%;
   z-index: 17;
}
#wb_Team2
{
   display: inline-block;
   width: 56px;
   height: 56px;
   text-align: center;
   z-index: 16;
}
#team_Container
{
   width: 970px;
   position: relative;
   margin-left: auto;
   margin-right: auto;
   text-align: left;
}
#quote
{
   position: relative;
   text-align: center;
   width: 100%;
   height: 175px;
   float: left;
   clear: left;
   display: block;
   z-index: 34;
}
#wb_Name3
{
   display: inline-block;
   width: 100%;
   z-index: 23;
}
#wb_Team3
{
   display: inline-block;
   width: 56px;
   height: 56px;
   text-align: center;
   z-index: 22;
}
#wb_FontAwesomeIcon17
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 26;
}
#wb_FontAwesomeIcon14
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 25;
}
#wb_FontAwesomeIcon16
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 20;
}
#wb_FontAwesomeIcon13
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 19;
}
#wb_FontAwesomeIcon15
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 14;
}
#wb_FontAwesomeIcon12
{
   display: inline-block;
   width: 16px;
   height: 16px;
   text-align: center;
   z-index: 13;
}
#wb_FontAwesomeIcon10
{
   position: absolute;
   left: 456px;
   top: 373px;
   width: 40px;
   height: 40px;
   text-align: center;
   z-index: 3;
}
#wb_Team1
{
   display: inline-block;
   width: 56px;
   height: 56px;
   text-align: center;
   z-index: 10;
}
@media only screen and (max-width: 969px)
{
body
{
   background-color: #000000;
   background-image: none;
}
#PageHeader1
{
   height: 50px;
   visibility: visible;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#PageHeader1_Container
{
   width: 480px;
}
#intro
{
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: url(images/clouds_bg.jpg);
   background-repeat: repeat;
   background-position: center bottom !important;
   background-attachment: scroll;
   background-size: cover;
   margin: 0;
}
#intro
{
   margin: 0;
}
#intro_Container
{
   width: 480px;
}
#about
{
   height: 323px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   margin: -1px -1px -1px -1px;
}
#about
{
   margin: 0;
}
#about_Container
{
   width: 482px;
}
#wb_Text1
{
   left: 127px;
   top: 83px;
   width: 227px;
   height: 66px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text1
{
   margin: 0;
   padding: 0;
}
#wb_Text3
{
   left: 70px;
   top: 28px;
   width: 342px;
   height: 179px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text3
{
   margin: 0;
   padding: 0;
}
#wb_Text4
{
   left: 96px;
   top: 33px;
   width: 289px;
   height: 49px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text4
{
   margin: 0;
   padding: 0;
}
#wb_ReadMore
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: url(images/clouds_bg.jpg);
   background-repeat: repeat;
   background-position: center center !important;
   background-attachment: scroll;
   background-size: cover;
}
#wb_ReadMore
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#ReadMore
{
   padding: 50px 0px 50px 0px;
}
#ReadMore .row
{
   margin-right: -0px;
   margin-left: -0px;
}
#ReadMore > .row > .col-1
{
   padding-right: 0px;
   padding-left: 0px;
}
#ReadMore > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#team
{
   height: 94px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   margin: 0;
}
#team
{
   margin: 0;
}
#team_Container
{
   width: 480px;
}
#wb_team_grid
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
}
#wb_team_grid
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#team_grid
{
   padding: 40px 15px 20px 15px;
}
#team_grid .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#team_grid > .row > .col-1, #team_grid > .row > .col-2, #team_grid > .row > .col-3, #team_grid > .row > .col-4
{
   padding-right: 15px;
   padding-left: 15px;
}
#team_grid > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#team_grid > .row > .col-2
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#team_grid > .row > .col-3
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#team_grid > .row > .col-4
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_Text9
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text9
{
   margin: 0;
   padding: 0px 0px 20px 0px;
}
#wb_Team1
{
   width: 56px;
   height: 56px;
   visibility: visible;
   display: inline-block;
   color: #242216;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 50%;
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#Team1
{
   width: 56px;
   height: 56px;
}
#Team1 i
{
   line-height: 56px;
   font-size: 56px;
   width: 48px;
}
#wb_Team1:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
}
#wb_Team2
{
   width: 56px;
   height: 56px;
   visibility: visible;
   display: inline-block;
   color: #242216;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 50%;
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#Team2
{
   width: 56px;
   height: 56px;
}
#Team2 i
{
   line-height: 56px;
   font-size: 56px;
   width: 48px;
}
#wb_Team2:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
}
#wb_Team3
{
   width: 56px;
   height: 56px;
   visibility: visible;
   display: inline-block;
   color: #242216;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 50%;
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#Team3
{
   width: 56px;
   height: 56px;
}
#Team3 i
{
   line-height: 56px;
   font-size: 56px;
   width: 40px;
}
#wb_Team3:hover
{
   background-color: #000000;
   background-image: none;
   border: 0px solid #000000;
}
#wb_Name1
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #42DCA3;
   font-size: 24px;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#wb_Name1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Name1
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
}
#Name1 a
{
   color: #42DCA3;
}
#wb_Name2
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #42DCA3;
   font-size: 24px;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#wb_Name2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Name2
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
}
#Name2 a
{
   color: #42DCA3;
}
#wb_Name3
{
   width: calc(100% - 0px);
   visibility: visible;
   display: block;
   color: #42DCA3;
   font-size: 24px;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 10px 0px 10px 0px;
}
#wb_Name3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   text-align: center;
}
#Name3
{
   color: #42DCA3;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 24px;
}
#Name3 a
{
   color: #42DCA3;
}
#wb_Text8
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text8
{
   margin: 0;
   padding: 0px 0px 10px 0px;
}
#wb_Text10
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text10
{
   margin: 0;
   padding: 0px 0px 10px 0px;
}
#wb_Text11
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text11
{
   margin: 0;
   padding: 0px 0px 10px 0px;
}
#quote
{
   height: 167px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #42DCA3;
   background-image: none;
   margin: 0;
}
#quote
{
   margin: 0;
}
#quote_Container
{
   width: 480px;
}
#wb_contact
{
   visibility: visible;
   display: table;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_contact
{
   margin-top: 0px;
   margin-bottom: 0px;
}
#contact
{
   padding: 75px 15px 0px 15px;
}
#contact .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#contact > .row > .col-1
{
   padding-right: 15px;
   padding-left: 15px;
}
#contact > .row > .col-1
{
   display: block;
   width: 100%;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   text-align: center;
}
#wb_FontAwesomeIcon10
{
   left: 211px;
   top: 243px;
   width: 36px;
   height: 36px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 50%;
   margin: 0;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon10
{
   width: 36px;
   height: 36px;
}
#FontAwesomeIcon10 i
{
   line-height: 36px;
   font-size: 36px;
   width: 23px;
}
#wb_FontAwesomeIcon10:hover
{
   background-color: transparent;
   background-image: none;
   border: 1px solid #FFFFFF;
}
#wb_Text14
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text14
{
   margin: 0;
   padding: 0;
}
#wb_CssMenu1
{
   left: 120px;
   top: 3px;
   visibility: visible;
   display: inline;
   margin: 0;
   text-align: left;
}
#wb_CssMenu1 li
{
   width: 80px;
}
#wb_CssMenu1 a
{
   color: #9D9D9D;
   border: 0px solid #222222;
   background-color: #000000;
   background-image: none;
   font-family: "Trebuchet MS";
   font-weight: bold;
   font-size: 13px;
   font-style: normal;
   text-decoration: none;
   width: 70px;
   height: 44px;
   padding: 0px 5px 0px 5px;
   line-height: 44px;
   text-align: center;
}
#wb_CssMenu1 li:hover a, #wb_CssMenu1 a:hover, #wb_CssMenu1 .active
{
   color: #FFFFFF;
   background-color: #42DCA3;
   background-image: none;
   border: 0px solid #222222;
}
#wb_FontAwesomeIcon1
{
   left: 0px;
   top: 3px;
   width: 61px;
   height: 44px;
   visibility: visible;
   display: inline;
   color: #42DCA3;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   margin: 0;
   padding: 0;
}
#FontAwesomeIcon1
{
   width: 61px;
   height: 44px;
}
#FontAwesomeIcon1 i
{
   line-height: 44px;
   font-size: 44px;
   width: 47px;
}
#wb_FontAwesomeIcon1:hover
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
}
#wb_FontAwesomeIcon12
{
   width: 16px;
   height: 16px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon12
{
   width: 16px;
   height: 16px;
}
#FontAwesomeIcon12 i
{
   line-height: 16px;
   font-size: 16px;
   width: 9px;
}
#wb_FontAwesomeIcon12:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#wb_FontAwesomeIcon13
{
   width: 16px;
   height: 16px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon13
{
   width: 16px;
   height: 16px;
}
#FontAwesomeIcon13 i
{
   line-height: 16px;
   font-size: 16px;
   width: 9px;
}
#wb_FontAwesomeIcon13:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#wb_FontAwesomeIcon14
{
   width: 16px;
   height: 16px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon14
{
   width: 16px;
   height: 16px;
}
#FontAwesomeIcon14 i
{
   line-height: 16px;
   font-size: 16px;
   width: 9px;
}
#wb_FontAwesomeIcon14:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#wb_FontAwesomeIcon15
{
   width: 16px;
   height: 16px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon15
{
   width: 16px;
   height: 16px;
}
#FontAwesomeIcon15 i
{
   line-height: 16px;
   font-size: 16px;
   width: 14px;
}
#wb_FontAwesomeIcon15:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#wb_FontAwesomeIcon16
{
   width: 16px;
   height: 16px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon16
{
   width: 16px;
   height: 16px;
}
#FontAwesomeIcon16 i
{
   line-height: 16px;
   font-size: 16px;
   width: 14px;
}
#wb_FontAwesomeIcon16:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#wb_FontAwesomeIcon17
{
   width: 16px;
   height: 16px;
   visibility: visible;
   display: inline-block;
   color: #FFFFFF;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background-image: none;
   border-radius: 50%;
   margin: 0px 10px 0px 0px;
   padding: 10px 10px 10px 10px;
}
#FontAwesomeIcon17
{
   width: 16px;
   height: 16px;
}
#FontAwesomeIcon17 i
{
   line-height: 16px;
   font-size: 16px;
   width: 14px;
}
#wb_FontAwesomeIcon17:hover
{
   background-color: #FFFFFF;
   background-image: none;
   border: 2px solid #FFFFFF;
}
#wb_Text5
{
   left: 21px;
   top: 53px;
   width: 438px;
   height: 60px;
   visibility: visible;
   display: inline;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_Text5
{
   margin: 0;
   padding: 0;
}
#wb_Shape1
{
   left: 160px;
   top: 241px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#wb_text
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_text
{
   margin: 0;
   padding: 10px 20px 10px 20px;
}
#wb_message
{
   visibility: visible;
   display: block;
   font-size: 8px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
}
#wb_message
{
   margin: 0;
   padding: 10px 20px 10px 20px;
}
#spacer-line1
{
   width: calc(100% - 0px);
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0;
}
#spacer-line1
{
   border-color: #000000;
   border-bottom-width: 40px;
}
#spacer-line2
{
   width: calc(100% - 0px);
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0;
}
#spacer-line2
{
   border-color: #000000;
   border-bottom-width: 40px;
}
#spacer-line3
{
   width: calc(100% - 0px);
   height: 40px;
   visibility: visible;
   display: block;
   margin: 0;
}
#spacer-line3
{
   border-color: #000000;
   border-bottom-width: 40px;
}
}
